.main__header {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  min-width: 350px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(114, 229, 245);
}
.burguer-button {
  margin-left: 20px;
  height: 40px;
  width: 40px;
  background-image: url("https://image.flaticon.com/icons/svg/2099/2099153.svg");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.logo {
  height: 40px;
  width: 40px;
}
.title__header {
  display: none;
}
.user__name {
  font-size: 18px;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.user__image {
  margin-left: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.container__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.log-out {
  height: 40px;
  width: 40px;
  background-image: url("https://www.flaticon.es/premium-icon/icons/svg/2617/2617254.svg");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 10px;
}
@media screen and (min-width: 600px) {
  .title__header {
    display: inline;
    margin-left: 10px;
    font-size: 16px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(3, 3, 80);
  }
}

@media screen and (min-width: 800px) {
  .title__header {
    font-size: 24px;
  }
}
